html,body {
    height: 100%;
  }

body {
    background-color: white;
}


a {
    color: inherit;
    text-decoration: none;
}

.instructions {
    background-color: grey;
    color: white;
    align-self: stretch;

}

.instructions h3 {
    color: orange;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.instructions a {
    color: orange;
}
.instructions ol li p{
    margin-bottom: .5rem;
}
.app-container h3 {
    margin: 2rem;
    text-align: center;
}
.app-container h4 {
    margin: 2rem;
    text-align: center;
}

.logo {
    text-align: center;
}

.logo i {
    font-size: 3rem;
    margin-top: 2rem;
}

.input-group {
    margin-bottom: 1.5rem;
}

.generate {
    text-align: center;
}
.tab {
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px lightskyblue;
    border-top: none;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.wrapper {
    height: 100vh;
}
.app-section {
    align-self: center;
}