* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #025492;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: #fff;
    min-width: 45%;
    border-radius: 15px;
    overflow: hidden;
}

h1 {
    background-color: rgb(255, 155, 6);
    color: #fff;
    padding: 0.75rem 0.45rem 0.75rem 0.75rem;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 2px 2px 4px gray;
}

form {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 70%;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 1rem;
    padding: 0.5rem;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    text-align: end;
}

label {
    display: inline-block;
    font-size: 1rem;
    width: 20%;
    font-weight: 600;
}
select {
    width: 70%;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 1rem;
    padding: 0.5rem;
    text-align: end;
}

hr {
    margin: 0.5rem 0;
    color: rgb(136, 16, 136);
}

button {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: rgb(136, 16, 136);
    border: none;
    border-radius: 5px;
    color: #fff;
    box-shadow: 2px 2px 4px gray;
}

button:hover {
    cursor: pointer;
    background-color: rgb(102, 8, 102);
    color: orange;
}

.results {
    width: 90%;
    margin: 0.75rem auto;
}

.result-box {
    padding: .5rem 0.45rem;
    margin-top: 0.25rem;
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    background-color: rgb(216, 216, 216);
    margin-bottom: 0.5rem;
    border-radius: 16px;
}


