body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 2rem;
}

span {
    font-style: italic;
}

.quotes p::before, 
.quotes p::after {
    content: "  ~  ";
}

.quotes p {
    font-weight: 700;
    font-family: 'Book Antiqua', 'Times New Roman';
    font-size: 1.15rem;
}